body {
    background: rgb(85, 85, 85);
}

.otsikko {

    position: relative;
    left: 30%;
    box-sizing: border-box;
    max-width: 32rem;
    margin-bottom: 0.5rem;
    
}


.ajastin {

    margin-left: 15%;
    font-size: 20px;
    position: relative;
    left: 25%;
    box-sizing: border-box;
    font-size: 50px;
}


.buttons {


    position: relative;
    left: 25%;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-left: 6.5rem;
}

button{
    background-color: rgb(136, 136, 136);
    border: none;
    padding: 7px 14px;
    margin-right: 5px;
    font-size: 25px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(153, 153, 153);
    color: rgb(48, 6, 6);
}