#Map1{
position: absolute;
left: 3rem;
top: 30rem;
}
#Map2{
    position: absolute;
    left: 18rem;
    top: 23rem; 
    opacity: 60%;
}
#Map3{
    position: absolute;
    left: 18rem;
    top: 37rem;
    opacity: 60%;
}
#Map4{
    position: absolute;
    left: 33rem;
    top: 43rem;
    opacity: 60%;
}
#Map5{
    position: absolute;
    left: 33rem;
    top: 29rem;
    opacity: 60%;
}
#Map6{
    position: absolute;
    left: 33rem;
    top: 15rem;
    opacity: 60%;
}

#Line1{
position: absolute;
left: 150px;
top: 470px;
transform: rotate(-20deg);

}
#Line2{
    position: absolute;
    left: 150px;
    top: 570px;
    transform: rotate(+20deg);
}
#Line3{
    position: absolute;
    left: 390px;
    top: 350px;
    transform: rotate(-20deg);
}
#Line4{
    position: absolute;
    left: 390px;
    top: 570px;
    transform: rotate(-20deg);
}
#Line5{
    position: absolute;
    left: 390px;
    top: 470px;
    transform: rotate(+20deg);
}
#Line6{
    position: absolute;
    left: 390px;
    top: 670px;
    transform: rotate(+20deg);
}
