#MapSelector{
position: absolute;
height: 300px;
width: 300px;
left: 30rem;
}
#ItemShop{
position: absolute;
top: 30rem;
}

#Upgrade{
position: absolute;
top: 30rem;
left: 55rem;
}

#MpImg{
    height: 300px;
    width: 500px;
}