.otsikko {
    text-align: center;
    position: relative;
    top: 9rem;
}

.valikko{
text-align: center;
position: relative;
top: 20rem;

}

.vaikeusTs{
text-align: center;
position: relative;
top: 25rem;

}

#vaikeusP{
    box-sizing: border-box;
    display: inline-block;
}


#minusBtn, #plusBtn{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#startNew{
height: 50px;
width: 150px;
position: relative;
left: 9.65rem;
bottom: 4rem;
background-color: rgb(182, 182, 182);
padding: 15px 50px;
}

#comingSoon1{
height: 50px;
width: 150px;
position: relative;

}

#comingSoon2{
height: 50px;
width: 150px;
position: relative;
right: 11rem;
top: 4rem;

}

#mainOts{
background-color: rgb(153, 153, 153);
width: 450px;
height: 100px;
position: relative;
left: 32%;
text-align: center;
border-radius: 5% 50%;

}

#otsikko{
position: relative;
top: 2rem;

}