
.Wall{
    background-color: rgb(160, 160, 160);
    width: 10px;
    height: 10px;

}

.Floor{
    background-color: rgb(0, 0, 0);
    width: 10px;
    height: 10px;

}

.Player{
    background-color: rgb(0, 255, 0);
    width: 10px;
    height: 10px;


}

.Enemy{
    background-color: rgb(255, 0, 0);
    width: 10px;
    height: 10px;

    
}

.Battle{
    background-color: rgb(88, 200, 228);
    width: 300px;
    height: 300px;
    position:absolute;
    left: 50px;
    top: 100px;
    
}

#Stats{
    position: absolute;
    left: 19rem;
    top: 47rem;
}

#AttBtn{
position: relative;
top: 12rem;
left: 1rem;

padding: 7px;
padding-right: 10px;

}

#Money{
position: absolute;
left: 0.5rem;
bottom: 34rem;
}

.Coins{
    background-color: rgb(255, 238, 6);
    width: 10px;
    height: 10px;
}

.o1Shadow{
    background-color: rgb(70, 70, 70);
    width: 10px;
    height: 10px;
}
